$background-color: #2d2856d0;
$font-color: #dbd9f2;
$button-color: #748cdc;
$img-border-color: rgb(142, 220, 24);

.SingleMessage {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    .avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $background-color;
    }

    .messageContent {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 80%;
        margin-top: 10px;

        p {
            display: flex;
            background-color: $background-color;
            color: $font-color;
            padding: 10px 20px;
            border-radius: 0px 10px 10px 10px;
            max-width: 300px;
        }

        img {
            width: 50%;
        }
    }

    &.userMessage {
        flex-direction: row-reverse;
        align-items: flex-start;
        .messageContent {
            align-items: flex-end;
            p {
                border-radius: 15px;
                border-top-right-radius: 0;
                background-color: $font-color;
                border: solid 2px $background-color;
                color: $background-color;
            }
        }
    }
}
